<div class="page-body">
    <div class="row">
      <div class="col-xl-4 col-md-12">
        <app-card [title]="'Friends'">
          <div class="align-middle m-b-30">
            <img src="assets/images/avatar-2.jpg" alt="user image" class="img-radius img-40 align-top m-r-15">
            <div class="d-inline-block">
              <h6>David Jones</h6>
              <p class="text-muted m-b-0">Lorem Ipsum is dummy.</p>
            </div>
          </div>
          <div class="align-middle m-b-30">
            <img src="assets/images/avatar-1.jpg" alt="user image" class="img-radius img-40 align-top m-r-15">
            <div class="d-inline-block">
              <h6>David Jones</h6>
              <p class="text-muted m-b-0">Lorem Ipsum is dummy.</p>
            </div>
          </div>
          <div class="align-middle m-b-30">
            <img src="assets/images/avatar-3.jpg" alt="user image" class="img-radius img-40 align-top m-r-15">
            <div class="d-inline-block">
              <h6>David Jones</h6>
              <p class="text-muted m-b-0">Lorem Ipsum is dummy.</p>
            </div>
          </div>
          <div class="align-middle m-b-30">
            <img src="assets/images/avatar-4.jpg" alt="user image" class="img-radius img-40 align-top m-r-15">
            <div class="d-inline-block">
              <h6>David Jones</h6>
              <p class="text-muted m-b-0">Lorem Ipsum is dummy.</p>
            </div>
          </div>
          <div class="align-middle m-b-30">
            <img src="assets/images/avatar-5.jpg" alt="user image" class="img-radius img-40 align-top m-r-15">
            <div class="d-inline-block">
              <h6>David Jones</h6>
              <p class="text-muted m-b-0">Lorem Ipsum is dummy.</p>
            </div>
          </div>
          <div class="align-middle m-b-10">
            <img src="assets/images/avatar-3.jpg" alt="user image" class="img-radius img-40 align-top m-r-15">
            <div class="d-inline-block">
              <h6>David Jones</h6>
              <p class="text-muted m-b-0">Lorem Ipsum is dummy.</p>
            </div>
          </div>
          <div class="text-center">
            <a href="javascript:" class="b-b-primary text-primary">View Friend List</a>
          </div>
        </app-card>
      </div>
  
      <div class="col-lg-8 col-md-12">
        <app-card [title]="'Chat'" [headerClass]="'borderless'" [cardClass]="'chat-card'">
          <div class="row m-b-20 received-chat">
            <div class="col-auto p-r-0">
              <img src="assets/images/avatar-2.jpg" alt="user image" class="img-radius img-40">
            </div>
            <div class="col">
              <div class="msg">
                <p class="m-b-0">Nice to meet you!</p>
              </div>
              <p class="text-muted m-b-0">
                <i class="feather icon-clock m-r-10"></i>10:20am</p>
            </div>
          </div>
          <div class="row m-b-20 send-chat">
            <div class="col">
              <div class="msg">
                <p class="m-b-0">Nice to meet you!</p>
              </div>
              <p class="text-muted m-b-0">
                <i class="feather icon-clock m-r-10"></i>10:20am</p>
            </div>
            <div class="col-auto p-l-0">
              <img src="assets/images/avatar-3.jpg" alt="user image" class="img-radius img-40">
            </div>
          </div>
          <div class="row m-b-20 received-chat">
            <div class="col-auto p-r-0">
              <img src="assets/images/avatar-2.jpg" alt="user image" class="img-radius img-40">
            </div>
            <div class="col">
              <div class="msg">
                <p class="m-b-0">Nice to meet you!</p>
                <img src="assets/images/mega-menu/01.jpg" alt="">
                <img src="assets/images/mega-menu/03.jpg" alt="">
              </div>
              <p class="text-muted m-b-0">
                <i class="feather icon-clock m-r-10"></i>10:20am</p>
            </div>
          </div>
          <div class="right-icon-control">
            <form class="form-material" action="javascript:">
              <div class="form-group form-primary">
                <input type="text" name="footer-email" class="form-control" required="">
                <span class="form-bar"></span>
                <label class="float-label">Add Task</label>
              </div>
            </form>
            <div class="form-icon ">
              <button type="button" class="btn btn-success btn-icon waves-effect waves-light">
                <i class="feather icon-message-circle"></i>
              </button>
            </div>
          </div>
        </app-card>
      </div>
    </div>
  </div>